.background-image1{
    background-size: cover;
    background-position: center;
    height: 739px;
    width: 1536px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
